# COMP4220: Machine Learning, Spring 2022, Assignment 5

> ## **Please submit one pdf file for all questions.**

# 1. List five hyperparameters you can tweak in a basic neural network?

> input and output neurons, hidden layers, loss function, no of epochs,

# 2. What is backpropagation and how does it work?

> 
1.Back Propagation is an training algorithm.

2.It is simply gradient descent using an efficent technique for computing the gradients automatically.

3.It is used to find gradient in just two passes. one foward and one backward.

4.In other words, it can find out how each connection weight and each bias term should be tweaked in order to reduce the error.

5.Once it has these gradients,it just performs a regular Gradient Descent step, and the whole process is repeated until the network converges to the solution.

# Programming Assignment (Artificial Neural Network-ANN)

In [ ]:
# Importing libraries
import numpy as np
import pandas as pd
import tensorflow as tf
from sklearn.compose import ColumnTransformer
import keras
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, precision_score, accuracy_score, f1_score, recall_score
import matplotlib.pyplot as plt

In [ ]:
# Importing the dataset. This dataset describes churning, which is
# the rate at which customers stop doing business with a company
dataset = pd.read_csv('Churn_Modelling.csv')
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

## 1. Looking at the dataset we can see that the first 3 columns are not essential for our model. 
> Make a X variable that contains all other columns except the first three columns and Exited (label) <br/>
> Make a Y variable (the Exited column) <br/>

In [ ]:
X = dataset.iloc[:, 3:13].values # Select input features X 
y = dataset.iloc[:, 13].values   # The last column "Exited" is the output variable Y

## 2. In X there are Geography and Gender columns that are in string format which we can't use for training. Thus we should transform them into numerical type to train our model.
> Use LabelEncoder and OneHotEncoder from sklearn.preprocessing to <br/>
> transform the "Geography" and "Gender" columns into numberical data type

In [ ]:
# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])
ct = ColumnTransformer([("Geogrophy", OneHotEncoder(), [1])], remainder = 'passthrough')
X = ct.fit_transform(X)

## 3. Split the dataset into the Training set and Test set (test_size = 0.2)

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

## 4. Apply Feature Scaling to all features before training a neural network

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

## 5. Let's build ANN model by using the Keras sequential package
> Initalize the sequential model <br/>
> Add the input layer and the first hidden layer <br/>
> Hint: For the first layer use (units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11)

In [ ]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
classifier = Sequential()
classifier.add(Dense(units=6, kernel_initializer='uniform', activation='relu', input_dim=12))

## 6. Add the second hidden layer
> Hint:(units = 6, kernel_initializer = 'uniform', activation = 'relu')

In [ ]:
classifier.add(Dense(units=6, kernel_initializer='uniform', activation='relu'))

## 7. Add the output layer
> Hint: (units = 1, kernel_initializer = 'uniform', activation = 'sigmoid')

In [ ]:
classifier.add(Dense(units=1, kernel_initializer='uniform', activation='sigmoid'))

## 8. Compile the ANN
> hint: (optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy']))

In [ ]:
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

## 9. Fit the ANN to the training set
> (batch_size = 5, epochs = 20)

In [ ]:
batch_size = 5
epochs = 20
history = classifier.fit(X_train, y_train, epochs=epochs, batch_size=5)

Epoch 1/20
1600/1600 [==============================] - 6s 3ms/step - loss: 0.4604 - accuracy: 0.7961
Epoch 2/20
1600/1600 [==============================] - 7s 4ms/step - loss: 0.4228 - accuracy: 0.7974
Epoch 3/20
1600/1600 [==============================] - 6s 4ms/step - loss: 0.4169 - accuracy: 0.8254
Epoch 4/20
1600/1600 [==============================] - 5s 3ms/step - loss: 0.4132 - accuracy: 0.8306
Epoch 5/20
1600/1600 [==============================] - 5s 3ms/step - loss: 0.4110 - accuracy: 0.8317
Epoch 6/20
1600/1600 [==============================] - 2s 2ms/step - loss: 0.4091 - accuracy: 0.8334
Epoch 7/20
1600/1600 [==============================] - 3s 2ms/step - loss: 0.4079 - accuracy: 0.8354
Epoch 8/20
1600/1600 [==============================] - 6s 3ms/step - loss: 0.4059 - accuracy: 0.8351
Epoch 9/20
1600/1600 [==============================] - 6s 4ms/step - loss: 0.4049 - accuracy: 0.8346
Epoch 10/20
1600/1600 [==============================] - 5s 3ms/step - loss: 0.4040 - accuracy: 0.8363
Epoch 11/20
1600/1600 [==============================] - 4s 3ms/step - loss: 0.4032 - accuracy: 0.8338
Epoch 12/20
1600/1600 [==============================] - 3s 2ms/step - loss: 0.4030 - accuracy: 0.8349
Epoch 13/20
1600/1600 [==============================] - 2s 2ms/step - loss: 0.4021 - accuracy: 0.8357
Epoch 14/20
1600/1600 [==============================] - 2s 2ms/step - loss: 0.4017 - accuracy: 0.8346
Epoch 15/20
1600/1600 [==============================] - 3s 2ms/step - loss: 0.4013 - accuracy: 0.8354
Epoch 16/20
1600/1600 [==============================] - 4s 3ms/step - loss: 0.4015 - accuracy: 0.8340
Epoch 17/20
1600/1600 [==============================] - 5s 3ms/step - loss: 0.4011 - accuracy: 0.8346
Epoch 18/20
1600/1600 [==============================] - 4s 3ms/step - loss: 0.3997 - accuracy: 0.8365
Epoch 19/20
1600/1600 [==============================] - 3s 2ms/step - loss: 0.4002 - accuracy: 0.8361
Epoch 20/20
1600/1600 [==============================] - 2s 2ms/step - loss: 0.3998 - accuracy: 0.8355

## 10. Make predictions and evaluate the model
> hint: just consider y_pred the values where y_pred is greater than 0.5 <br/>
> (y_pred = (y_pred > 0.5)) <br/>
> Make the confusion matrix and show the result <br/>
> Evalue the precision, accuracy, recall, and f1 score and show the result <br/>

In [ ]:
y_pred = classifier.predict(X_test) > 0.5

## 11. Compute the accuracy, precision, recall, and f1 score

In [ ]:
print('Accuracy: {}'.format(accuracy_score(y_test, y_pred)))
print('Precision: {}'.format(precision_score(y_test, y_pred)))
print('Recall: {}'.format(recall_score(y_test, y_pred)))
print('F1 Score: {}'.format(f1_score(y_test, y_pred)))

Accuracy: 0.832
Precision: 0.7160493827160493
Recall: 0.2857142857142857
F1 Score: 0.4084507042253521

## 12. Using Tensorflow Playground 

Visit the TensorFlow Playground at https://playground.tensorflow.org/

Spend some time playing with this UI to grow your intuition about neural networks. Complete the following problems in a single sitting please.


1.	Layers and patterns: try training the default neural network by clicking the run button (top left). Notice how it quickly finds a good solution for the classification task. Notice that the neurons in the first hidden layer have learned simple patterns, while the neurons in the second hidden layer have learned to combine the simple patterns of the first hidden layer into more complex patterns.  What happens when you add more layers?

2.	Activation function: try replacing the Tanh activation function with the ReLU activation function, and train the network again. Notice that it finds a solution even faster, but this time the boundaries are linear. What about the ReLU function causes this?

3.	Local minima: modify the network architecture to have just one hidden layer with three neurons. Train it multiple times (to reset the network weights, click the reset button next to the play button). What do you notice about the training time?

4.	Too small: now remove one neuron to keep just 2. Notice that the neural network is now incapable of finding a good solution, even if you try multiple times. What do you observe about the number of parameters and the training set?

5.	Large enough: next, set the number of neurons to 8 and train the network several times. Notice that it is now consistently fast and never gets stuck. What do you observe about local minima?

1. Adding more layers in the neural network increases dimensonality. If we increase the no of layers, then we can able to increase the capacity and efficeny of the model.
   In genaral, more layers, the more complexity the patterns will be.

2. Due to shape of the ReLU function.

After replacing the ReLU function with Tanh function, the learning rate is tremendously increased. 

   It is because the ReLU function is able to solve the "Vanishing Gradient Problem".Vanishing Gradient Problem mostly occurs during back propogation when the value of weights are changed and also when the input values are increased.

   The maximum range in the Tanh function lies between 0 to 1. The maximum range in the Tanh function lies between 1 to infinity.

   Therfore, due to advantage in range in ReLU function, the Vanishing Gradient Problem is solved and results in faster learning rate.

3. After modifying the network architecture with one hidden layer and three neurons, the laerning rate is increased. Therfore, the training time for deceieve correct output is decreased. 

  The training time varies alot, sometimes it strucks with the local minima.

4. The model has few paramaeters and it systematically underfits the training set.

5. large neural networks almost never get stuck in local
minima,and even when they do these local optima are almost as good
as the global optimum,However, they can still get stuck on long plateaus for a
long time.